body {
	font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #000000;
	font-size: 18px;
	line-height: 24px;
}

li {
	list-style: none;
}

a {
	text-decoration: none !important;
	color: #000000;
}

a:visited {
	text-decoration: none !important;
}

a:active {
	text-decoration: none !important;
}

* {
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: none !important;
}

.container {
	width: 12rem;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;

}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

@media all and (min-width: 320px) and (max-width: 750px) {
	.container {
		width: 92%;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;

	}

	body {
		width: 100%;
	}

	.row {
		width: 100%;
		margin-right: 0px;
		margin-left: 0px;
	}

	.col-lg-1,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-xs-1,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9 {
		position: relative;
		min-height: 1px;
		padding-right: 0px;
		padding-left: 0px;
		margin-top: 7px;
		margin-bottom: 7px;
	}
}

#page {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.layui-laypage {
	margin: 0 auto;

}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color: #1C71CF;
	border-radius: 8px;


}

.layui-laypage a,
.layui-laypage span {
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border-radius: 8px;
	padding: 0px;
	margin: 0px 6px;
	font-size: 18px;
	font-family: PingFang SC;
	font-weight: 500;
	color: #333333;
	background: #ECECEC;
}

.layui-laypage>:first-child {
	border-radius: 8px !important;
}

.layui-laypage>:first-child>img {
	width: 22px;
	height: 22px;
	color: #333333;
}

.layui-laypage>:last-child>img {
	width: 22px;
	height: 22px;
	color: #333333;
}

.layui-laypage>:last-child {
	border-radius: 8px !important;
}